.product {
    text-align: center;
}

/* section {
    margin: 0px 100px;
} */

.product-head {
    border-bottom: 2px solid gray;
    padding-bottom: 10px;
    margin-bottom: 50px;
    color: red;
    text-align: center;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* Adjust min-width for better responsiveness */
    gap: 40px;
    /* Reduce gap for smaller screens */
    margin-top: 20px;
    cursor: pointer;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    overflow: hidden;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s;
}
.cardTitle{
    color: red;
    font-size: 1.5rem!important;
    font-weight: 600;
    margin: 20px 0px;
}
.cardbtn{
    background-color: #ff9900;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: 20rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Add media query for smaller screens */
@media (max-width: 600px) {
    .product-grid {
        grid-template-columns: 1fr;
        /* Single column layout for mobile screens */
    }

    .product-image img {
        height: 18rem;
    }
}